*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.container{
    display: flex;
    flex-direction: row;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 18px;
    height: 100vh;

}

.left-bg{
    display: flex;
    background-image: url("images/bg-main-desktop.png");
    width: 30%;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.front-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px;
    margin-left: 35%;
    background-image: url("images/bg-card-front.png");
    overflow: visible;
    width: 447px;
    height: 245px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.literal-number{
    font-size: 25px;
    color:white;
    font-weight: 600;
    letter-spacing: 3px;
    margin: 50px 0 0 0;
    
}

.bottom-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;
    color:white;
    font-weight: 300;
}

.back-card{
    display: flex;
    background-image: url("images/bg-card-back.png") ;
    margin-left: 50%;
    padding-right: 70px;
    justify-content: end;
    align-items: center;
    width: 447px;
    height: 245px;
    overflow: visible;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.cvc{
    font-size: 16px;
    color: white;
    font-weight: 300;
}

.right-bg{
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: right;
    font-weight: 600;
}

form{
    margin: 0 20% 0 0;
    height: 60%;
    width: 35%;
    
}
.form-details{
    font-size: 12px;
    margin: 20px 0 5px 0;
    font-weight: 600;
    
}

.barra-cheia{
    width: 100%;
    padding: 12px 0 12px 12px;
    border: solid 1px;
    border-color: rgb(209, 209, 209);
    border-radius: 6px;
}

.especification{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

::placeholder {
    color: rgb(209, 209, 209);
    font-family:'Space Grotesk', sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.barra-50{
    width: 35%;
    padding: 12px 0 12px 12px;
    border: solid 1px;
    border-color: rgb(209, 209, 209);
    border-radius: 6px;
}

.barra-cvc{
    padding-top: 20px;
    width: 100%;
    padding: 12px 0 12px 12px;
    border: solid 1px;
    border-color: rgb(209, 209, 209);
    border-radius: 6px;
}

.especification{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

button{
    background-color:hsl(278, 68%, 11%);
    border-radius: 7px;
    color: aliceblue;
    font-size: 18px;
    margin-top: 20px;
    padding: 10px 0 10px 0;
    width: 100%;
}